/* CSS Reset */

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Global Style */

body {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: yellowgreen;
}

main{
    margin-top: 78px;
}

section {
    min-height: 90vh;
}

.layanan, .about, .kontak {
    padding: 100px;
}

.wrapper {
    display: flex;
}
/* Header */

header {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 100px;
    padding-left: 100px;
    display: inline-block;
    width: inherit;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(255, 255, 255);
}

header h1 {
    float: left;
}

/* Navigasi Menu */

nav {
    float: right;
}

nav ul {
    padding-top: 9.5px;
    padding-bottom: 9.5px;
}

nav li {
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
}

body {
    text-align: center;
    background: url("https://images.unsplash.com/photo-1557683325-3ba8f0df79de?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=282&q=80") rgba(0, 0, 0, 0.1);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: bottom;
    padding: 50px 0;
}

/* Section Portofolio */

/* .product {
    background: #ffffff;
    color: #fff;
} */

.product .wrapper {
    align-items: center;
    margin-top: 50px;
    justify-content: space-evenly;
}

.porto-card {
    text-align: center;
    width: 23%;
}

.porto-card img {
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.porto-title {
    font-weight: 300;
    margin-top: 10px;
    text-transform: uppercase;
}

.product a {
    color: #fff;
}

.product a:hover {
    color: yellow;
}

/* Section Kontak */

.kontak {
    min-height: 80vh;
    background: url("https://images.unsplash.com/photo-1589440975398-1147378cbdff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=643&q=80") rgba(0, 0, 0, 0.1);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: top;
    color: #fff;
}

.kontak .section-title {
    margin-bottom: 30px;
}

.kontak-box {
    padding: 20px 50px;
    background: #aaa;
    width: 350px;
    margin: 0 auto;
    text-align: right;
}

.kontak input, .kontak textarea {
    width: 100%;
    outline: none;
    border: none;
    margin-left: 10px;
    font-family: sans-serif;
}

.kontak-name, .kontak-email, .kontak-pesan {
    background: #fff;
    color: #000;
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: 10px;
}

.btn-kontak {
    background: dodgerblue;
    color: #fff;
    padding: 10px;
    outline: none;
    border: none;
    cursor: pointer
}

/* Footer */

footer{
    height: 50px;
    line-height: 50px;
    background: rgb(85, 218, 59);
    color: #fff;
    position: relative;
    bottom: 0px;
    width: 100%; 
}